/* Define la fuente predeterminada para la raíz del documento */
:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}
/* Estilos para el contenedor principal */
.main-container {
  overflow: hidden; /* Evita que el contenido se desborde */
}

.main-container,
.main-container * {
  box-sizing: border-box; /* El padding y borde se incluyen en el ancho y alto */
}

/* Estilos específicos para el contenedor principal */
.main-container {
  position: relative;
  width: 1440px;
  height: 1024px;
  margin: 0 auto; /* Centra horizontalmente */
  overflow: hidden; /* Oculta el contenido que se desborda */
}

/* Estilos para el encabezado */
.header {
  position: relative;
  width: 1440px;
  height: 127px;
  margin: 56px 0 0 -2px;
  background: #ffffff;
  border: 1px solid #000000;
  z-index: 2;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
/* Estilos para un cuadrado blanco */
.cuadrado-blanco {
  width: 10%; /* Ancho del cuadrado */
  height: 20px; /* Altura del cuadrado */
  background-color: white; /* Color de fondo blanco */
  max-width: 20px; /* Ancho máximo */
  z-index: 100; /* Z-index para apilar elementos */
}

/* Estilos para la barra de navegación */
.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: .5rem 1rem;
  z-index: 100; /* Z-index para apilar elementos */
}

/* Estilos para la imagen */
.image {
  position: absolute;
  width: 151px;
  height: 103px;
  top: -1px;
  left: 450px;
  background: url(./assets/images/86e3e6f4-5da7-4b91-8811-3858665efc45.png)
    no-repeat center;
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  z-index: 4; /* Z-index para apilar elementos */
}

/* Estilos para el texto "Pharmatech" */
.pharmatech {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 45px;
  top: 45px;
  left: 613px;
  color: #bda567; /* Color del texto */
  font-family: Newsreader, var(--default-font-family);
  font-size: 45px; /* Tamaño del texto */
  font-weight: 500; /* Grosor de la fuente */
  line-height: 45px; /* Altura de línea */
  text-align: left;
  white-space: nowrap; /* No se envuelve el texto */
  letter-spacing: -0.45px; /* Espaciado entre letras */
  z-index: 3; /* Z-index para apilar elementos */
}
.rectangle {
  position: relative;
  width: 1440px;
  height: 770px;
  margin: 0 0 0 0;
  background: #ffffff;
  z-index: 5;
}
.flex-column {
  position: absolute;
  width: 176px;
  height: 553px;
  top: 23px;
  left: 1235px;
  z-index: 19;
}
.rectangle-1 {
  position: relative;
  width: 174px;
  height: 70px;
  margin: 0 0 0 0;
   background-size: cover;
  z-index: 7;
}
.solicitar-visita {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 149px;
  height: 26px;
  top: 20px;
  left: 12px;
  color: #fafafa;
  font-family: Sora, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  white-space: nowrap;
  z-index: 8;
}
.rectangle-2 {
  position: relative;
  width: 174px;
  height: 70px;
  margin: 23px 0 0 0;
  background: url(./assets/images/49d8bdf6-beac-4e0f-a19c-3fcf13674b6b.png)
    no-repeat center;
  background-size: cover;
  z-index: 10;
}
.imprimir-carta-aceptacion {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 168px;
  height: 52px;
  top: 7px;
  left: 2px;
  color: #fafafa;
  font-family: Sora, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-overflow: initial;
  z-index: 11;
  overflow: hidden;
}
.rectangle-3 {
  position: relative;
  width: 174px;
  height: 96px;
  margin: 23px 0 0 0;
  background: url(./assets/images/1a6a8987-9133-4edc-94cd-02850ab3273a.png)
    no-repeat center;
  background-size: cover;
  z-index: 13;
}
.imprimir-carta {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 148px;
  height: 78px;
  top: 9px;
  left: 12px;
  color: #fafafa;
  font-family: Sora, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-overflow: initial;
  z-index: 14;
  overflow: hidden;
}
.rectangle-4 {
  position: relative;
  width: 174px;
  height: 96px;
  margin: 24px 0 0 0;
  background: url(./assets/images/6a1ad6a5-7ccb-444d-82ca-a65a46a1ab3f.png)
    no-repeat center;
  background-size: cover;
  z-index: 16;
}
.imprimir-credencial {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 110px;
  height: 52px;
  top: 22px;
  left: 31px;
  color: #fafafa;
  font-family: Sora, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-overflow: initial;
  z-index: 17;
  overflow: hidden;
}
.rectangle-5 {
  position: relative;
  width: 174px;
  height: 127px;
  margin: 24px 0 0 2px;
  background: url(./assets/images/2c4f7059-dddc-4d73-9478-119904befa54.png)
    no-repeat center;
  background-size: cover;
  z-index: 19;
}
.rectangle-6 {
  position: absolute;
  width: 650px;
  height: 49px;
  top: 38px;
  left: 72px;
  background: #f8f8f8;
  border: 1px solid #000000;
  z-index: 22;
  border-radius: 20px;
}
.notificaciones {
  position: absolute;
  width: 218px;
  height: 36px;
  top: 2px;
  left: 47px;
  color: #000000;
  font-family: Sora, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.6px;
  z-index: 22;
  overflow: hidden;
  -webkit-text-stroke: 1px #c8a9a9;
}

.rectangle-7 {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: url(./assets/images/b7402097-212a-4a86-90f7-7dbdafe1bdbf.png) no-repeat center center;
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  border-radius: 70px;
  z-index: 0;

}

.vector {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: url(./assets/images/bef9c1b9-d0e9-4a29-bc8f-88209713adf4.png);
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  border-radius: 70px;
}


.btn-primary {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}

.col-md-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 20%;
}
